{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block content %}



        <div class="container my-5 flex-grow-1">
            <div class="row">
                <center>
                    <div class="col-8">
                        <form class=" offset-1 mt-3  text-start"action="{% url 'login' %}" method="post" >
                            {% csrf_token %}
                             <div class="mb-3">
                              <label for="identifier" class="form-label">Username</label>
                              <input type="text" class="form-control" id="identifier" name="username"   required>
                            </div>
                            <div class="mb-3">
                              <label for="password " class="form-label">Password</label>
                              <input type="password" class="form-control" id="password " name="password" value="" required>
                            </div>
                            <p>Don't have an account yet? <a href="/register">Register</a></p>

                            <button type="submit" class="btn btn-primary">Login</button>
                            {% if errors %}
                            <small class="text-danger">Invalid Credentials</small>
                            {% endif %}
                          </form>
                    </div>
                </center>
            </div>
        </div>
{% endblock %}