{% extends 'base.html' %}
{% block title %}Movies{% endblock %}
{% block content %}

        <!-- Header-->
        <header class="bg-dark py-5">

        </header>
        

        <div class="container my-5">
            <span class="mb-5">Sort By: <select name="" id=""></select></span>
          <div class="row">
            {% for movie in movies %}
            <div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-4">
              <div class="card h-100 mt-3">
                <img src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/{{movie.poster_path}}" class="card-img-top" alt="{{movie.title}}">
                <div class="card-body">
                  <h5 class="card-title">{{movie.title}}</h5>
                  <p class="card-text">{{movie.overview|truncatechars:100}}</p>
                  <a href="#" class="btn btn-primary">Details</a>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
{% endblock %}