 .favorite-btn {
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    padding: 5px 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.favorite-btn.favorited {
    background-color: #ffdb58;
    color: #333;
    border-color: #ffc107;
}
.utilLink{
    text-decoration: none;
    color:white;
}
#ProfileHl{
    color:white !important;
    text-decoration: none !important;    
}
#ActorHl{
    color:black !important;
    text-decoration: none !important;    
}
.actor-name {
    color: #00bcd4;
    font-weight: bold;
    text-decoration: none;
  }
.actor-character {
    color: #f39c12; /* a golden-orange shade – change to anything you like */
    font-style: italic;
  }